.hero {
    &-container {
        position: relative;
        height: 75vw;
        width: 100vw;
        max-height: 430px;
        z-index: 1;
        &--home {
            padding-top: 12vh;
        }
    }
    &-bg {
        display: none;
    }
    &__clouds-bg {
        display: none;
    }
    &__img {
        position: absolute;
        top:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), url("../../images/hero-home-bg.jpg");
        background-size: cover;
        background-position: (bottom center);
    }
    &__page-title {
        align-self: flex-start;
        margin: 60px 0 0 10px;
    }
    &__c2a-txt {
        width: 300px;
        margin: 15px auto;
        color: white;
        text-align: center;
        white-space: pre;
        &--home {
            margin-top: 30%;
        }
        &--about,
        &--contact {
            white-space: normal;
        }
    }
    &__c2a-btn {
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: var(--color-orange-dark);
        background: var(--color-orange);
        &:hover {
            color: rgb(236, 255, 62);
        }
    }
    &-border--bottom {
        position: absolute;
        bottom: -1px;
        width: 120%;
        transform: scaleY(1.5);
    }
}

.hero-svg {
    position: absolute;
    right: -20px;
    bottom: 10px;
    height: 25vw;
    z-index: 2;
    &--contact {
        right: 5px;
        bottom: -55px;
        height: 20vw;
    }
    &--about {
        right: 0;
    }
}

@media only screen and (min-width: 767px) {
    .hero {
        &-container {
            padding: 0;
        }
        &-bg {
            display: block;
        }
        &__mtn-bg {
            display: block;
            position: absolute;
            min-width: 100vw;
            min-height: 430px;
        }
        &__clouds-bg {
            display: block;
            position: absolute;
            top: -5px;
            width: 200vw;
            &--A {
                left: 0;
                animation: sky-A 220000ms linear infinite;
            }
            &--B {
                left: 203vw;
                transform: scaleX(-1);
                animation: sky-B 220000ms linear infinite;
            }
        }
        &__img {
            top: 7px;
            left: 0;
            right: 0;
            width: 95%;
            max-width: 850px;
            max-height: 380px;
            margin: 33px auto;
            border: 3px solid white;
        }
        &__page-title {
            margin: 10px 0 0 10px;
        }
        &__c2a-txt {
            width: 100%;
            margin: 10% auto;
        }
        &__c2a-btn {
            position: absolute;
            right: 10px;
            bottom: 30px;
        }
        &-svg {
            max-height: 215px;
            z-index: 1;
            &--about {
                z-index: 0;
            }
        }
        &-border--bottom {
            width: 110%;
            transform: scaleY(2);
            bottom: -3px;
        }
    }
    .hero-svg {
        &--contact {
            right: -54px;
        }
    }
}

@keyframes sky-A {
 0% {
     opacity: 1;
     transform: translateX(0);
 }
 45% {
     opacity: 1;
     transform: translateX(-200vw);
 }
 46%{
     opacity:0;
 }
 54% {
     transform: translateX(-205vw);
 }
 55%{
     opacity: 0;
     transform: translateX(200vw);
 }
 56%{
     opacity: 1;
 }
 100% {
     transform: translateX(0);
 }
}

@keyframes sky-B {
    0% {
        opacity: 1;
        transform: translateX(0) scaleX(-1);
    }
    91% {
        opacity: 1;
        transform: translateX(-410vw) scaleX(-1);
    }
    92%{
        opacity:0;
    }
    100%{
        opacity: 0;
        transform: translateX(0) scaleX(-1);
    }
   }


   @-webkit-keyframes sky-A {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    45% {
        opacity: 1;
        transform: translateX(-200vw);
    }
    46%{
        opacity:0;
    }
    54% {
        transform: translateX(-205vw);
    }
    55%{
        opacity: 0;
        transform: translateX(200vw);
    }
    56%{
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
   }

   @-webkit-keyframes sky-B {
    0% {
        opacity: 1;
        transform: translateX(0) scaleX(-1);
    }
    91% {
        opacity: 1;
        transform: translateX(-410vw) scaleX(-1);
    }
    92%{
        opacity:0;
    }
    100%{
        opacity: 0;
        transform: translateX(0) scaleX(-1);
    }
   }