button {
    background: none;
    border: none;
    padding: 5px 10px;
    transition: all ease 700ms;
}

a, p h1, h2, h3, h4, h5, button, span, label {
    color: white;
    margin: 0;
}

button.btn, a.btn, 
.nav-lnk {
  font-weight: 700;
}

a:hover,
a.btn:hover, button.btn:hover {
    text-decoration: none !important;
}

.load-fill {
    min-height: 100vh;
}
