.about {
    &-container {
        min-width: 100vw;
        padding-bottom: 100px;
    }
    &-section {
        padding: 20px;
        & p, h3 {
            color: black;
        }
    }
    &__story-img {
        width: 80vw;
        max-width: 450px;
    }
    &-slider-container {
        display:flex;
        justify-content: center;
        width: 100vw;
        padding: 20px 0;
        & .slick-slide div,
         img.slide-img {
            width: 200px;
            height: 150px;
        }
        & .slick-next {
            margin-right: 10px;
            &::before {
                color: white;
            }
        }
        .slick-prev {
            margin-left: 10px;
            &::before {
                color: white;
            }
        }
    }
}

@media only screen and (min-width: 767px) {
    .about-slider-container {
        & .slick-next {
            margin-right: 15px;
            &::before {
                color: gray;
            }
        }
        & .slick-prev {
            margin-left: 20px;
            &::before {
                color: gray;
            }
        }
    }
}
