.about {
    &-section {
        padding: 20px;
        & p, h3 {
            color: black;
        }
    }
    &__story-img {
        height: 250px;
    }
    &-slider-container {
        display:flex;
        justify-content: center;
        padding: 20px 0;
        & .slick-slide div,
         img.slide-img {
            width: 200px;
            height: 150px;
        }
        & .slick-next::before, 
        .slick-prev::before {
            color: gray;
        }
    }
}

