.rental-tiles__title,
.tour-cards__title {
    display: inline-block;
    align-self: flex-start;
    margin-top: -30px;
    border-radius: 5px;
    padding: 5px;
}

.rental-tiles {
    &-container {
        padding: 20px 10px;
        margin-top: -2px;
    }
    &__title {
        margin-top: -50px;
        color: var(--color-cyan-hover);
        background: var(--color-cyan);
    }
}

.tour-cards {
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 10px;
        background: lightgray;
    }
    &__title {
        color: var(--color-red-hover);
        background: var(--color-red);
    }
}
.explore-msg {
    &-container {
        position: relative;
        background: #F1BC53;
        color: white;
        padding: 0 10px 50px 10px;
        & p, h1 {
            margin: 0;
            z-index: 1;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }
    &__svg {
        width: 120px;
        margin: 0 20px;
        z-index: 1;
    }
    &__sun-container {
        position: absolute;
        bottom: -150px;
        right: 0;
        width: 100vw;
        padding: 0 20px;
        background: #F1BC53;
    }
    &__sun {
        position: relative;
        height:200px;
        width: 200px;
        border-radius: 50%;
        background: #F4F07D;
        z-index: 0;
    }
}

@media only screen and (min-width: 767px) {
    .tour-cards {
        &-container {
            position: relative;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
            padding-top: 20px;
        }
        &__title {
            position: absolute;
            top: 5px;
            left: 10px;
        }
    }
    .explore-msg {
        &__row {
            flex-direction: row-reverse;
            justify-content: flex-end;
            &--reverse {
                flex-direction: row;
                justify-content: flex-start;
            }
        }
        &__svg {
            width: 50px;
        }
        &__sun-container {
            bottom: -350px;
        }
        &__sun {
            height:400px;
            width: 400px;
        }
    }
}

@media only screen and (min-width: 1281px) {
    .rental-tiles {
        &-container {
            position: relative;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            padding-top: 60px;
        }
        &__title {
            position: absolute;
            top: 60px;
            left: 10px;
        }
    }
    &.tile-container {
        display: flex;
        flex-basis: 47%;
        margin: 10px;
        background: rgba(0,0,0,0.4);
    }
    .explore-msg__row p {
        font-size: 1.25em;
        width: 550px;
    }
  }
