
.category-cards-container,
.blurb-container,
.tours-cards-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 20px;
}

.category {
    &-container {
        display: flex;
        flex-direction: column;
    }
}
.category__title,
.tours__title {
    align-self: flex-start;
    margin: 10px;
    color:black;
}

.blurb {
    &-container {
        background: rgb(223, 223, 223);
        overflow: hidden;
    }
    &__logo-bg {
        position: absolute;
        top: 5px;
        left: -50px;
        height: 120%;
        opacity: 0.2;
        z-index: 0;
    }
    &__btn {
        color: var(--color-red-dark);
        background: var(--color-red);
        align-self: flex-end;
        z-index: 1;
        &:hover {
            color: var(--color-red-hover);
        }
    }
}

.tours {
    &-container {
        position: relative;
        padding-bottom: 50px;
    }
    &__btn {
        position: absolute;
        left: 10px;
        bottom: 15px;
        color: var(--color-orange-dark);
        background: var(--color-orange);
        align-self: flex-start;
        &:hover {
            color: var(--color-orange-hover);
        }
    }
}


.review {
    &-container {
        position: relative;
        padding: 50px 10px;
        background: var(--sky-bg);
    }
    &-txt {
        font-size: 0.9em;
        margin:10px;
    }
    &-name {
        position: absolute;
        bottom: 0;
        right: 10px;
    }
    &-extra-bg {
        position: absolute;
        height: 200px;
        width: 100vw;
        bottom: -200px;
        left: 0;
        background: var(--sky-bg);
        z-index: -1;
    }
    
    
}

@media only screen and (min-width :481px) {
    .review-container {
        & .slick-slide img,
        .slick-slide div {
          width: 90vw;
          min-width: 330px;
        }
    }
    .review-txt {
        font-size: 1em;
    }
}

@media only screen and (min-width: 767px) {
    .category-cards-container,
    .tours-cards-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .category-container {
        margin-top: 35px;
    }

    .blurb {
        &-container {
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-start;
            flex-wrap:wrap;
            & p {
                width: 45vw;
                max-width: 485px;
                margin:30px 30px 15px 15px;
            }
        }
    }
    .tours__btn {
        width: 150px;
    }
    .review-container {
        & .slick-slide img,
        .slick-slide div {
          width: 40vw;
        }
    }
}