.footer {
    &-container {
        position: relative;
        width: 100vw;
        margin-top: -100px;
        overflow: hidden;
    }
    &-waves {
        width: 500%;
        margin-left: -30px;
    }
    &__content {
        height: 300px;
        width: 100vw;
        margin-top: -5px;
        padding: 5px;
        background:var(--footer-bg);
        & a, span, .copyright {
            font-size: 0.8em;
            color: #B1EBFC;
        }
    }
    &__logo {
        height: 80px;
    }
    &_lnks {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: -15px 0 0 10px;
        & a {
            max-width: 110px;
            color: white;
            margin: 10px 0;
            white-space: nowrap;
        }
    }
    &__social-lnks {
        display: flex;
        & a {
            margin: 5px;
        }
        & svg {
            height: 20px;
        }
    }
    &__bottom {
        position: absolute;
        bottom: 5px;
        width: 100vw;
    }
}

.contact {
    &-icon {
        height: 12px;
        margin: 5px;
    }
}

.copyright {
    position: absolute;
    right: 10px;
    bottom: 0;
    margin: 0;
}

@media screen and (min-width: 767px) {
    .footer-waves {
        width: 200%;
    }
    .footer__right {
        display: flex;
        justify-content: flex-end;
    }
    .contact-info {
        margin-right: 20px;
    }
    .copyright {
        right: 20px;
    }
}