html, body {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Oxygen', sans-serif;
  }

  a, p h1, h2, h3, h4, h5, button, span {
      color: white;
      margin: 0;
  }

  .card {
      &-container {
          position: relative;
          width: 260px;
          height: 200px;
          margin: 15px;
          &--review {
              width: 300px;
              height: 250px;
              margin: 0 20px;
          }
      }
      &__top {
          width: 100%;
          height: 100%;
          background: rgb(190, 190, 190);
          border-radius: 5px 5px 0 0;
          &--category,
          &--tour,
          &--review {
              border-radius: 5px;
          }
          &--review {
              display: flex;
              flex-direction: column;
              justify-content: center;
          }
      }
      &__top-txt {
          position: absolute;
          top: 5px;
          left: 5px;
          display: flex;
          flex-direction: column;
          & p, h4 {
              font-weight: lighter;
              color: white;
              margin: 0;
          }
          & p {
            font-size: 1em;
          }
      }
      &__title {
          font-size: 1.25em;
      }
      &__btn {
          position: absolute;
          bottom: 10px;
          right: 10px;
          &--category {
              color: var(--color-cyan-dark);
            background: var(--color-cyan);
            &:hover {
                color: var(--color-cyan-hover);
            }
          }
          &--tour {
              color: var(--color-orange-dark);
              background: var(--color-orange);
              &:hover {
                color: var(--color-orange-hover);
              }
          }
          
          
      }
  }

  .slick {
    &-slider {
        width: 250px;
    }
    &-arrow {
        z-index: 1;
    }
    &-prev {
        left: 5px;
    }
    &-next {
        right: 5px;
    }
    &-slide img {
        width: 100%;
    }
}

  /*----NORMALIZER CSS----*/
 html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
  }
  body {
    margin: 0;
  }  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }  
  hr {
    box-sizing: content-box; 
    height: 0; 
    overflow: visible; 
  }  
  pre {
    font-family: monospace, monospace; 
    font-size: 1em; 
  }
  
  a {
    background-color: transparent;
  }  
  abbr[title] {
    border-bottom: none; 
    text-decoration: underline; 
    text-decoration: underline dotted; 
  }  
  b,
  strong {
    font-weight: bolder;
  } 
  code,
  kbd,
  samp {
    font-family: monospace, monospace; 
    font-size: 1em; 
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  img {
    border-style: none;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; 
    font-size: 100%; 
    line-height: 1.15; 
    margin: 0; 
  }  
  button,
  input { 
    overflow: visible;
  }
  button,
  select { 
    text-transform: none;
  }
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  legend {
    box-sizing: border-box; 
    color: inherit; 
    display: table; 
    max-width: 100%; 
    padding: 0; 
    white-space: normal; 
  }
  progress {
    vertical-align: baseline;
  }
  textarea {
    overflow: auto;
  }
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
  }
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  [type="search"] {
    -webkit-appearance: textfield; 
    outline-offset: -2px; 
  }

  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  ::-webkit-file-upload-button {
    -webkit-appearance: button; 
    font: inherit; 
  }
  details {
    display: block;
  }
  summary {
    display: list-item;
  }
  template {
    display: none;
  }
  [hidden] {
    display: none;
  }
  